.card{
    background-image: linear-gradient(15deg, #13547ac0 0%, #80d0c7bd 100%), url(../../img/fondo6.png);
    background-size: 100%;
     object-fit: cover;  
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    align-items: center;
   
    
   
}
.ciudad{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;   
    align-content: center;
    border: 1px grey;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;;
    background-color: rgba(209, 217, 217,0.7);
    box-shadow: 0 0 12px rgba(0,0,0, .2)
      
}
.title{
    font-size: 2rem;
    color: #064775;
    font-weight: bold;
}
.datos{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 18px;
}
.cta{
  margin: 20px 0px;
  padding: 5px 10px;
  background:#3a6073; 
  color: #fff;
  border-radius: 40px;
}
.cta:hover{
    background: #fff;
    color: #3a6073; 
    font-weight: bold;
}