*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.container{
  display: flex; 
  align-items: center;  
  background-color: #d1d9d9;
  padding: 3px;
}
.logo{
  width:30%; 
}
.logo:hover{  
  text-decoration: none;
}
.subContainer{ 
  display: flex; 
  align-items: center; 
}
.imagen {
  margin-right: 10px;
  margin-left: 5px;
  width: 50px;
}

.searchBar{  
  width: 60%;
}
.about{  
  display: flex;
  margin-left: 10px;  
  width: 10%; 
}
.about:hover{  
  text-decoration: none;
}

