* {
  margin: 0px;
  padding: 0px;
  box-sizing: cover;
}
.footer {
  height: 10vh;
  background: #16222a;
  background: -webkit-linear-gradient(to right,#3a6073d5,#16222ace); 
  background: linear-gradient(to right,#3a6073c0,#16222ab2);
  bottom: 0px;
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 5px 5px;
  display: inline-block;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}

.icon a {
  color: cornsilk;
}

.icon a:hover {
  color: #30cfd0;
}

@media screen and (max-width: 450px) {
  .icon {
    font-size: 20px;
  }
}
